TIMEOUT=3 # Wait 3 seconds before automatically booting
#This tells Limine to wait 3 seconds for the user to press a key.
#If no key is pressed, it automatically boots the first OS on the list.

# Boot Menu Entries
:NG-OS
    PROTOCOL=limine # Tell the bootloader to look for our specific C macros
    KERNEL_PATH=boot:///ng-os.elf # The location of our compiled kernel inside the ISO